<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.TBlogtypeMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.TBlogtype" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
    <result column="orderNum" property="ordernum" jdbcType="INTEGER" />
    <result column="isShow" property="isshow" jdbcType="BIT" />
  </resultMap>
  
</mapper>